<h1> History of changes </h1>

<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Timestamp</th>

        </tr>
    </thead>

    <tbody>

    <% @all_changes.each do |hash| %>

            
        <tr>
        <% hash.each do |key, value| %>   

            <% if not value.kind_of?(Array) %> 
                <% if key=="first_name" %>
                   <%  @current_first_name=value %>
                <% elsif key=="last_name" %>
                   <%  @current_last_name=value %>
                <% elsif key=="email" %>
                   <%  @current_email=value %>
                <% elsif key=="phone_number" %>
                   <%  @current_phone_number=value %>  
                <% elsif key=="created_at" %>
                   <%  @current_timestamp=value %>                                         
                <% end %>
              
                                

            <% elsif value.length() ==2 %>
                <% if key=="first_name" %>
                   <%  @current_first_name=value[1] %>
                <% elsif key=="last_name" %>
                   <%  @current_last_name=value[1] %>
                <% elsif key=="email" %>
                   <%  @current_email=value[1] %>
                <% elsif key=="phone_number" %>
                   <%  @current_phone_number=value[1] %>
                <% elsif key=="created_at" %>
                   <%  @current_timestamp=value %>                                          
                <% end %>
            <% end %>
          
        <% end %>
            <td> <%= @current_first_name %> </td>
            <td> <%= @current_last_name %> </td>
            <td> <%= @current_email %> </td>
            <td> <%= @current_phone_number %> </td> 
            <td> <%= @current_timestamp %> </td> 
        </tr>
    <% end %>

    </tbody>

</table>


<p>
    <%= link_to 'Contacts listing', contacts_path %>  |
    <%= link_to 'Current Contact', contact_path %>

</p>